<div id="main-wrapper">
    <div class="wrapper style3">
        <div class="inner">
            <div class="container">

            <!-- Article list -->
                <section class="box article-list">
                    <h2 class="icon fa-file-alt">플라즈마 장비 목록</h2>
                    <% 
                    for(let element of list){ 
                        const rendomInt = Math.floor(Math.random()*3) + 4;
                    %>                        
                    <!-- Excerpt -->
                    <article class="box excerpt">
                        <a href="/web/plasma/model/<%= element.PLSM_ID %>" class="image left"><img src="/public/images/pic0<%=rendomInt%>.jpg" alt="" /></a>
                        <div>
                            <header>
                                <h3>장비명 : <%= element.PLSM_ID %></h3>
                            </header>
                            <p>포 &emsp;&emsp;&emsp;트 : <%= element.PLSM_PORT %></p>                                
                            <p>프로토콜 ID : <%= element.PRTC_ID %></p>
                        </div>
                    </article>
                    <% } %>
                </section>
                   
            </div>
        </div>
    </div>
</div>