<div id="main-wrapper">
    <div class="wrapper style3">
        <div class="inner">
            <div class="container">

            <!-- Article list -->
                <section class="box article-list">
                    <h2 class="icon fa-file-alt">악취 목록</h2>
                    <% 
                    for(let element of list){ 
                    %>                        
                    <!-- Excerpt -->
                    <article class="box excerpt">
                        <div>
                            <header>
                                <h1>악취농도 : <%= element.ODOR %></h1>
                                <h1>측정시간 : <%= element.MESURE_DT %></h1>
                            </header>     
                            <p><%= element.SENSOR_IDX %>. 측정위치 : <%= element.ADDR %> / GPS: 위도-<%= element.GPS_LATITUDE %> , 경도-<%= element.GPS_LONGITUDE %></p>  
                        </div>
                    </article>
                    <% } %>
                </section>
                   
            </div>
        </div>
    </div>
</div>