<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>  
  window.onload = function() {
    read();
  };
  
  async function read() {
    await axios({      
      url: "/api/sensor/read", // 요청 주소
      method: "post", // 요청 방식
      data: {SENSOR_IDX:'<%= SENSOR_IDX %>'},
    })
    .then(function(res){
      if(res.data.result){
        MONITER(res.data.data);
      }
    });
  }

  async function downloadFile() {
    await axios({      
      url: "/api/sensor/logAll", // 요청 주소
      method: "post", // 요청 방식
      data: {SENSOR_IDX:'<%= SENSOR_IDX %>'},
    })
    .then(function(res){
      const blob = new Blob([JSON.stringify(res.data.data)], {type: 'text/plain'});
      const fileObjectUrl = window.URL.createObjectURL(blob);
      const link = document.createElement("a");
      link.href = fileObjectUrl;
      link.style.display = "none";
      link.download = "센서IDX_"+'<%= SENSOR_IDX %>'+".txt";
      document.body.appendChild(link);
      link.click();
      link.remove();
      window.URL.revokeObjectURL(fileObjectUrl);
    });   
  }

  async function AutoControle(ID) {
    let value = document.getElementById(ID).value
    await axios({      
      url: "/api/sensor/controle", // 요청 주소
      method: "post", // 요청 방식
      data: {SENSOR_IDX:'<%= SENSOR_IDX %>',TYPE:ID,DATA:value},
    })
    .then(function(res){
      if(res.data.data.success) counter = 0;
    });
  }

  function MONITER(contents){
    
    let WEATHER_Text = `<div class="row">`;
    WEATHER_Text += `<div class="col-4 col-12-xsmall">${contents.WEATHER.ADDR} 기상정보</div>`;
    let WEATHER_TYPE = "맑음";
    switch (contents.WEATHER.PTY) {
      case 1:
        WEATHER_TYPE = "비";
        break;
      case 2:
        WEATHER_TYPE = "비/눈";  
        break;
      case 3:
        WEATHER_TYPE = "눈";
        break;
      case 4:
        WEATHER_TYPE = "흐림";
        break;
      case 5:
        WEATHER_TYPE = "빗방울";
        break;
      case 6:
        WEATHER_TYPE = "빗방울눈날림";
        break;
      case 7:
        WEATHER_TYPE = "눈날림";
        break;  
    } 
    WEATHER_Text += `<div class="col-4 col-12-xsmall">기준 시간 : ${new Date(contents.WEATHER.TMSP)}</div>`;
    WEATHER_Text += `<div class="col-4 col-12-xsmall"><span class="button icon solid fa-check-circle" onclick="downloadFile()">데이터 백업</span></div>`;
    WEATHER_Text += `<div class="col-4 col-12-xsmall">날씨 : ${WEATHER_TYPE} </div>`; 
    WEATHER_Text += `<div class="col-4 col-12-xsmall">기온 : ${contents.WEATHER.T1H} °C</div>`;
    WEATHER_Text += `<div class="col-4 col-12-xsmall">습도 : ${contents.WEATHER.REH} %</div>`;
    WEATHER_Text += `<div class="col-4 col-12-xsmall">강수량 : ${contents.WEATHER.RN1} mm/h</div>`;
    WEATHER_Text += `<div class="col-4 col-12-xsmall">풍향 : ${contents.WEATHER.VEC} °</div>`;
    WEATHER_Text += `<div class="col-4 col-12-xsmall">풍속 : ${contents.WEATHER.WSD} m/s</div>`;
    WEATHER_Text += `<div class="col-12 col-12-xsmall"><hr><br></div>`;
    WEATHER_Text += "</div>";


    let HTML_Text = `<div class="row">`;
    HTML_Text += `<div class="col-3 col-12-xsmall">PM2.5:</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">${contents.PM25} </div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">H2S:</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">${contents.H2S} PPM</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">NH3:</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">${contents.NH3} PPM</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">CH2O:</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">${contents.CH2O} PPM</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">TEMP:</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">${contents.TEMP} °C</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">HUMI:</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">${contents.HUMI} %</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">VOCS:</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">${contents.VOCS} PPM</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">O3:</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">${contents.O3} PPM</div>`;
      
    HTML_Text += `<div class="col-12 col-12-xsmall"><hr><br><h2>[플라즈마 장비 작동값 설정]</h2></div>`;
    HTML_Text += `<div class="col-1 col-12-xsmall"><h1>황화수소 농도</h1></div>`
    HTML_Text += `<div class="col-2 col-12-xsmall"><input type="number" min="0" id="H2S" value="${contents.CTL_S2H}"> ppm</input></div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><span class="button icon solid fa-check-circle" onclick="AutoControle('H2S')">황화수소 설정 변경</span></div>`
    HTML_Text += `<div class="col-1 col-12-xsmall"><h1>암모니아 농도</h1></div>`
    HTML_Text += `<div class="col-2 col-12-xsmall"><input type="number" min="0" id="NH3" value="${contents.CTL_NH3}"> ppm</input></div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><span class="button icon solid fa-check-circle" onclick="AutoControle('NH3')">암모니아 설정 변경</span></div>`

    HTML_Text += "</div>";
    document.getElementById("weather").innerHTML = WEATHER_Text;
    document.getElementById("moniter").innerHTML = HTML_Text;
  }

</script>

<div class="wrapper style1">
  <h2> [ <%= SENSOR_IDX %> ]</h2>
  <div id="weather"></div>
  <div id="moniter"></div>
</div>